<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>DeviceKey:<input type="text" id="device_key">
    <button onclick="open_toy()">开启玩具</button>
</p>
<audio autoplay controls id="player"></audio>
<p>消息来自:<span id="from_user"></span></p>
<p>
    <button onclick="start_reco()" style="background-color: yellow">录制语音指令</button>
    <button onclick="stop_reco_audio()" style="background-color: blue">发送语音指令</button>
</p>


</body>
<script type="application/javascript" src="/static/Recorder.js"></script>
<script type="application/javascript" src="/static/jQuery3.1.1.js"></script>

<script type="application/javascript">
    let serv = "http://192.168.13.102:9527";
    let serv_ws = "ws://192.168.13.102:3721/toy/";
    let ws = null;
    let toy_id = null;

    function open_toy() {
        var device_key = document.getElementById("device_key").value;
        $.post(serv + "/device_login", {device_key: device_key}, function (data) {
            console.log(data);
            //alert(data.info);
            toy_id = data.info;
            ws = new WebSocket(serv_ws + toy_id);
            ws.onmessage = function (data) {
                console.log(data.data);
                var msg = JSON.parse(data.data);
                console.log(msg);
                if (msg.music) {
                    document.getElementById("player").src = serv + "/music/" + msg.music;
                } else {
                    document.getElementById("player").src = serv + "/chat/" + msg.chat;
                    document.getElementById("from_user").innerText = msg.from_user;
                }
            }
        }, "json")
    }

    let reco = null;
    let audio_context = new AudioContext();
    navigator.getUserMedia = (navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia);

    navigator.getUserMedia({audio: true}, create_stream, function (err) {
        console.log(err)
    });

    function create_stream(user_media) {
        var stream_input = audio_context.createMediaStreamSource(user_media);
        reco = new Recorder(stream_input);
    }

    function start_reco() {
        reco.record();
    }


    function stop_reco_audio() {
        reco.stop();
        send_audio();
        reco.clear();
    }


    function send_audio() {
        reco.exportWAV(function (wav_file) {
            var formdata = new FormData();
            formdata.append("record", wav_file);
            console.log(formdata);
            $.ajax({
                url: serv + "/toy_uploader",
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        let send_str = {
                            "to_user": document.getElementById("from_user").innerText,
                            "from_user": toy_id,
                            "filename": data.filename
                        };
                        let send_json = JSON.stringify(send_str);
                        ws.send(send_json);
                    }
                }
            });

        })
    }

</script>
</html>